# IntelliJ
.idea/

# Angular specific
coverage/
e2e/test-output/
.angular/

# Node modules and dependency files
node_modules/
yarn.lock
## removed package-lock.json
## see https://dev.to/adamklein/package-lock-json-in-git-or-not-50l5
*.tsbuildinfo

# Angular CLI and build artefacts
.angular-cli.json
.ng/

# Environment files
.env

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
