.upload-camera-container {
  display: flex;
  flex-direction: row;
  gap: 16px;
  align-items: flex-start;
}

.upload-camera-container app-photo-upload,
.upload-camera-container app-camera {
  flex: 1 1 0;
}

.hinweistext {
  background: #FFF4D6;
  border: 1.5px solid #F6C56A;
  border-radius: 10px;
  padding: 0.9rem 1rem;
  /*margin: 0 auto 1rem auto;
  width: 100%;*/
  max-width: 420px;
  width: 280px;
  margin-top: 1rem;
  align-self: center;

  color: #5A4A20;
  font-size: 0.95rem;
  line-height: 1.3;
}

.submit-button {
  width: 100%;
  height: 40px;
  border-radius: 25px !important;
  background: #D6127D !important;
  color: #fff !important;
  margin-top: 6px;
  font-size: 16px;
  box-shadow: 0 8px 18px rgba(214,18,125,0.14);

  &:not([disabled]):hover {
    background: #C00F6F !important;
  }

  &[disabled] {
    opacity: 0.5;
  }
}



