<div class="formular-container">
  <h1>Neue Meldung</h1>

  <form>
    <mat-form-field appearance="outline">
      <mat-label>Mängelkategorie</mat-label>
      <mat-select [(ngModel)]="selectedCategory" name="category">
        @for (cat of categories; track cat) {
          <mat-option [value]="cat.valueOf">{{ cat }}</mat-option>
        }
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Beschreibung</mat-label>
      <input matInput type="text" placeholder="Beschreibe den Mangel kurz"
             [(ngModel)]="description" maxlength="1000" name="description">
      <mat-hint align="end">{{ description.length || 0 }} / 1000 Zeichen</mat-hint>
    </mat-form-field>

    <!-- *ngIf ersetzt wg. deprecation warning
        <p
          *ngIf="!selectedCategory && description.trim() === ''"
          style="color: #d32f2f; margin-top: 0.5rem; font-size: 0.8rem;"
        >
          Bitte wähle eine Kategorie oder gib eine Beschreibung ein!
        </p>-->

    @if (!selectedCategory && description.trim() === '') {
      <p style="color: #d32f2f; margin-top: 0.5rem; font-size: 0.8rem;">
        Bitte wähle eine Kategorie oder gib eine Beschreibung ein!
      </p>
    }

    <!-- Template-Referenzvariable: Ermöglicht Kommunikation mit der PhotoUpload-Komponente -->
    <app-photo-upload #photoUpload></app-photo-upload>

    <app-camera (photoTaken)="onPhotoFromCamera($event)"></app-camera>


    <button
      mat-raised-button
      color="primary"
      [disabled]="!selectedCategory && description.trim() === ''"
      (click)="submitReport(photoUpload)"
    >
      Absenden
    </button>

    @if (isLoading()) {
      <div animate.enter="enter-animation" style="margin-top: 1rem;">
        <mat-spinner diameter="30" color="primary"></mat-spinner>
      </div>
    }
  </form>


</div>


