.image-container {
  width: 80px;
  height: auto;
}

.image-container img {
  width: 100%;
  height: auto;
  object-fit: contain;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title-group {
  text-align: center;
  margin-bottom: 24px;
}

.title-main {
  margin-bottom: 4px;
  font-weight: 700;
}

.title-sub {
  margin-top: 0;
  font-size: 1.5rem;
  font-weight: 500;
  opacity: 0.85;
}


